@font-face {
  font-family: "UbuntuMono";
  src: url("UbuntuMonoNerdFontComplete.ttf");
}

* {
  letter-spacing: 0.08em;
  margin: 0;
  padding: 0;
  font-family: "UbuntuMono";
}

body {
  background-color: #21252b;
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.input_box {
  border: none;
  background: #2e3440;
  padding: 13px;
  color: #ffffff;
  font-size: 20px;
  border-radius: 10px 10px 10px 10px;
  width: 730px;
  margin-bottom: 30px;
}

.input_box:focus {
  background: #191c22;
  transition: background 0.5s ease;
  outline: none;
}

.column-container {
  width: 100%;
  height: 100vh;
  display: flexbox;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}

.column {
  background: #191c22;
  border-radius: 15px;
  margin: 10px;
  display: flex;
  flex-direction: column;
  padding: 15px 30px 15px 15px;
  font-size: 18px;
}

.column p {
  text-align: center;
  color: #eceff4;
  font-size: 30px;
  padding-bottom: 15px;
  font-weight: bold;
}

.column a {
  font-size: 20px;
  text-decoration: none;
  display: inline-block;
  color: #ffffff;
  transition: 0.3s;
  padding: 10px;
}

.column a.blank {
  opacity: 0;
  pointer-events: none;
}

.column a:hover {
  color: #4c566a;
}
